@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.container-fluid {
  padding: 12% 10% 0;
}
.main-flex {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  overflow-y: scroll;
}
.home{
    flex: 1;
    background-image: linear-gradient(to top, #181818 66%, #000 0%);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 3% 2% 0;
    overflow-y: overlay;
    height: 80vh;
}
body{
    background-color: #000;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}
.trackCard{
    background: #000;
    border-radius: 4px;
    padding: 16px;
    cursor: pointer;
    transition: background-color .3s ease;
    align-self: baseline;
}
.trackCard:hover{
    background: #1a1b2c;
}
.trackCard-container{
    display: flex;
    justify-content: space-between;
    align-items:baseline;
    gap: 30px;
    width: 75vw;
    overflow-x: auto;
}
.avatar{
    margin-left: 85%;
}
.search{
    flex: 1;
    display: flex;
    padding: 3% 2% 0;
    background-image: linear-gradient(to top, #181818 70%, #000 0%);
    flex-direction: column;
    overflow-x: hidden;
}
.MuiInput-root {
    position: relative;
    border-radius: 500px;
    width: 35%;
    padding: 1.5% 1.5% 1.5% 2%;
}
.searchResults{
    height: 60vh;
    overflow-y: scroll;
}
.track{
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}
.player{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.lyrics{
    text-align: justify;
    letter-spacing: 2px;
    height: 60vh;
    overflow-y: scroll;
    padding: 2%;
}
.lyrics h3{
    color: #1cb954;
}
small, .color-gray{
    color: gray;
}
a, a:hover{
    text-decoration: none;
    color: #fff
}
::-webkit-scrollbar {
    display: none;
}