.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.flex-row img{
    width: 40%;
}
.flex-row a{
    margin-left: 10%;
}
@media screen and (max-width:750px) {
    .flex-row img{
        width: 60%;
    }
}