.sidebar {
  display: flex;
  flex-direction: column;
  margin: 2% 2% 0;
  border: 2px solid black;
}
.sidebar__logo {
  height: 60px;
  margin-bottom: 18px;
}
.sidebar_title {
  font-size: 14px;
  margin-left: 10px;
  color: gray;
}
.divider {
  background-color: gray;
  width: 100%;
}
.sidebar strong {
  margin: 10px;
  color: gray;
}
.playlists{
    height: 30vh;
    overflow-y: scroll;
}
